App_WebReferences/MilService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sv01is01:8080/MIL/MilService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sv01is01:8080/MIL/MilService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sv01is01:8080/MIL/MilService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wsMil" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrarVentaMil_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarVentaMil" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrarVentaMil_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarVentaMilResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarTarMovimiento_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarTarMovimiento" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarTarMovimiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarTarMovimientoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrarVentaGarantiaEX_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarVentaGarantiaEX" />
  </wsdl:message>
  <wsdl:message name="IService1_RegistrarVentaGarantiaEX_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarVentaGarantiaEXResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsercionMasiva_InputMessage">
    <wsdl:part name="parameters" element="tns:InsercionMasiva" />
  </wsdl:message>
  <wsdl:message name="IService1_InsercionMasiva_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsercionMasivaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_autorizarCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:autorizarCompra" />
  </wsdl:message>
  <wsdl:message name="IService1_autorizarCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:autorizarCompraResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarVentaMil">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegistrarVentaMil" message="tns:IService1_RegistrarVentaMil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrarVentaMilResponse" message="tns:IService1_RegistrarVentaMil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarTarMovimiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertarTarMovimiento" message="tns:IService1_InsertarTarMovimiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertarTarMovimientoResponse" message="tns:IService1_InsertarTarMovimiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarVentaGarantiaEX">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegistrarVentaGarantiaEX" message="tns:IService1_RegistrarVentaGarantiaEX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrarVentaGarantiaEXResponse" message="tns:IService1_RegistrarVentaGarantiaEX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsercionMasiva">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsercionMasiva" message="tns:IService1_InsercionMasiva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsercionMasivaResponse" message="tns:IService1_InsercionMasiva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="autorizarCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/autorizarCompra" message="tns:IService1_autorizarCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/autorizarCompraResponse" message="tns:IService1_autorizarCompra_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarVentaMil">
      <soap:operation soapAction="http://tempuri.org/IService1/RegistrarVentaMil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTarMovimiento">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertarTarMovimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarVentaGarantiaEX">
      <soap:operation soapAction="http://tempuri.org/IService1/RegistrarVentaGarantiaEX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsercionMasiva">
      <soap:operation soapAction="http://tempuri.org/IService1/InsercionMasiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizarCompra">
      <soap:operation soapAction="http://tempuri.org/IService1/autorizarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://sv01is01:8080/MIL/MilService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>